.hidden {
  display: none;
}

:root {
  /* fonts */
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;

  /* colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
}

/* reset  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

/* common */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* common tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* common desktop */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.header-address {
  display: none;
}
.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.logo span {
  color: var(--navy-blue);
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

/* header tablet */
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .header-address {
    font-style: normal;
    display: block;
  }

  .header-nav {
    display: flex;
    padding: 24px 0;
    align-items: center;
  }

  .header-logo {
    margin-right: 120px;
  }

  .header-navigation {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-navigation:hover,
  .header-navigation:focus {
    color: var(--ocean);
  }

  .header-navigation.current {
    position: relative;
    color: var(--ocean);
  }

  .header-navigation.current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--ocean);
    border-radius: 2px;
  }

  .header-address {
    font-style: normal;
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--ocean);
  }

  .header-address {
    font-style: normal;
    margin-left: auto;
  }
}

/* header desktop */
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-address-link {
    font-weight: 400;
    font-size: 16px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }
}

/* mobile menu  */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.mobile-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--navy-blue);
  background-color: none;
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  padding: 0;

  position: absolute;
  right: 24px;
  top: 24px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup_close:hover,
.popup_close:focus {
  background-color: var(--ocean);
  fill: var(--white);
  border: none;
}

.icon_close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon_close:hover,
.icon_close:focus {
  fill: var(--white);
}

.mobile-menu-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-navigation.current {
  position: relative;
  color: var(--ocean);
}

.mobile-menu-address {
  display: block;
}

.mobile-menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-menu-address-link:hover,
.mobile-menu-address-link:focus {
  color: var(--ocean);
}

.mobile-menu-social-links {
  display: flex;
  justify-content: space-between;
}

.mobile-menu-social-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu-social-link {
  background-color: var(--iris);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
  background-color: var(--ocean);
}

.mobile-menu-social-icon-item {
  fill: var(--white);
}

/* hero section  */
.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  height: 432px;
  margin: auto;
}

/* high-res mobile  */
@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-2x.png);
  }
}

.page-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.page-title-section {
  max-width: 216px;
  margin: 0 auto;
  padding-top: 72px;
}

.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  margin: 72px auto 0;
  display: block;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--ocean);
}

/* hero tablet */
@media screen and (min-width: 768px) {
  .hero-section {
    height: 436px;
  }

  .page-title {
    font-size: 56px;
    line-height: 1.07143;
  }

  .page-title-section {
    max-width: 496px;
    padding-top: 111px;
  }

  .order-button {
    margin-top: 36px;
  }
}

/* hero desktop */
@media screen and (min-width: 1158px) {
  .hero-section {
    height: 600px;
  }

  .page-title-section {
    padding-top: 188px;
  }

  .order-button {
    margin-top: 48px;
  }
}

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--navy-blue-modal);
  opacity: 0;
  visibility: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 632px;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--dairy);

  transform: translate(-50%, -50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%) scale(1.5);
}

.popup_close {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--cornflower);
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  padding: 0;

  position: absolute;
  right: 24px;
  top: 24px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup_close:hover,
.popup_close:focus {
  background-color: var(--ocean);
  fill: var(--white);
  border: none;
}

.icon_close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon_close:hover,
.icon_close:focus {
  fill: var(--white);
}

.modal_paragraph {
  font-weight: 500;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.form_container_label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}

.form_container {
  margin-bottom: 8px;
}

.form_container_input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_container_input:focus {
  border-color: var(--iris);
}

.form_container_input_textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;

  resize: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);

  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_container_input_textarea:focus {
  border-color: var(--iris);
}

.form_input_area {
  position: relative;
}

.form_icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_container_input:hover + .form_icon,
.form_container_input:focus + .form_icon {
  fill: var(--iris);
}

.form_container_textarea {
  margin-bottom: 16px;
}

.popup-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.popup_text_link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}

.form_checkbox_wrapper {
  margin-bottom: 24px;
}

.form_user_checkbox:checked + .popup-label .popup_span_checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.popup_span_checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-button {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  min-width: 169px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  margin: 0 auto;
}

.send-form-button:hover,
.send-form-button:focus {
  background-color: var(--ocean);
}

/* modal tablet */
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
    min-height: 584px;
  }
}

/* modal desktop */
@media screen and (min-width: 1158px) {
  .modal {
    padding: 72px 24px 24px 24px;
  }
}

/* advantages section  */
.advantages-section {
  padding: 96px 16px;
}

.advantages-list-items {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.advantages-section-list {
  width: auto;
}

.advantages-top-picture {
  display: none;
}

.class-h-three {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* advantages section tablet  */
@media screen and (min-width: 768px) {
  .advantages-list-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
  }

  .class-h-three-advantages {
    display: flex;
  }

  .advantages-section-list {
    width: calc((736px - 24px - 100px) / 2);
  }
}

/* advantages section desktop */
@media screen and (min-width: 1158px) {
  .advantages-section {
    padding: 120px 0;
  }

  .advantages-list-items {
    display: flex;
    gap: 24px;
  }

  .advantages-section-list {
    width: calc((100% - 72px) / 4);
  }

  .advantages-top-picture {
    background: var(--cloud);
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .class-h-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }

  .paragraph {
    font-weight: 400;
  }
}

/* our team section */

.our-team-section {
  padding: 96px 0;
  background: var(--cloud);
}

.class-h-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  text-transform: capitalize;
}

.our-team-header {
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.our-team-section-item {
  background-color: var(--white);
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.employer-profession {
  padding: 32px 0;
}

.employer-name-header {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.profession-paragraph {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.our-team-social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-icon {
  width: 40px;
  height: 40px;
}

.social-link {
  background-color: var(--iris);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

.social-icon-item {
  fill: var(--cloud);
}

/* our team section tablet  */
@media screen and (min-width: 768px) {
  .our-team-section-item {
    width: 264px;
  }

  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 64px;

    flex-direction: row;
    justify-content: center;
  }
}

/* our team section desktop */
@media screen and (min-width: 1158px) {
  .our-team-section {
    padding: 120px 0;
  }

  .our-team-list {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 24px;
  }

  .our-team-section-item {
    width: calc((100% - 72px) / 4);
  }
}

/* our portfolio section  */

.our-portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-portfoli-section-header {
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
}

.our-portfolio-list-item {
  width: 264px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-portfolio-overlay-text {
  position: absolute;
  font-family: var(--font-family);
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list-item:hover .our-portfolio-overlay-text {
  transform: translateY(0%);
}

.our-portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-portfolio-list-image {
  position: relative;
  overflow: hidden;
}

.our-portfolio-category-naming {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.our-portfolio-container-name {
  display: flex;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

/* our portfolio section tablet  */
@media screen and (min-width: 768px) {
  .our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

/* our portfolio section desktop */
@media screen and (min-width: 1158px) {
  .our-portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .our-portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}

/* footer section  */
.footer {
  background-color: var(--navy-blue);
  display: flex;
  justify-content: center;
}

.footer-container {
  padding: 96px 0;
}

.logo-footer {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-footer-container {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.logo-second-color-footer {
  color: var(--cloud);
}

.paragraph-footer-container {
  width: 288px;
}

.footer-paragraph {
  font-weight: 400;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.div-footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
}

.social-icon {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  background-color: var(--iris);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-item {
  fill: var(--cloud);
}

.footer_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_subscribe_form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 165px;
  border-radius: 4px;
  border: none;
  background: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
}

.social-icon-item_telegram {
  fill: var(--cloud);
  margin-left: 16px;
}

.footer-email_input {
  border: 1px solid var(--white);
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-email_input::placeholder {
  color: var(--white);
}

/* footer section tablet  */
@media screen and (min-width: 768px) {
  .div-footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    width: 496px;
  }

  .div-footer-container-content {
    width: 264px;
  }

  .paragraph-footer-container {
    width: auto;
  }

  .footer_form {
    align-items: flex-start;
  }

  .logo-footer-container {
    display: inline-block;
  }

  .footer_subscribe_form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-email_input {
    width: 264px;
  }

  .footer-paragraph {
    margin-bottom: 16px;
  }

  .container {
    padding: 0;
  }
}

/* footer section desktop */
@media screen and (min-width: 1158px) {
  .div-footer-container {
    display: flex;
    align-items: baseline;
    width: 1158px;
    margin: 0 auto;
    gap: 0;
  }

  .container {
    padding: 0 16px;
  }

  .paragraph-footer-container {
    width: auto;
  }

  .footer-container {
    padding: 100px 0;
  }

  .footer-paragraph {
    margin-bottom: 0px;
  }

  .div-footer-container > .container {
    margin: 0;
    padding-right: 0;
  }

  .footer-socials {
    margin-left: 120px;
    align-items: flex-start;
  }

  .footer_form {
    margin-left: 80px;
  }
}
